body {
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

.site {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.site_header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0 0.25);
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    margin-right: 1rem;
    font-weight: 500;

}
.nav-links a:hover {
    text-decoration: underline;
}

#search {
    padding: 0.4rem 0.6rem;
    margin-right: 3rem;
    border: none;
    border-radius: 4px;
    outline: none;
}


.site_main {
    padding: 2rem;
    text-align: center;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.window {
    width: 660px;
    overflow: hidden;
}
.track {
    display: flex;
    transition: transform 0.4s ease;
}

.game-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0, 0.2);
    margin: 0 0.5rem;
    width:200px;
    flex: 0 0 auto;
    text-align: center;
}
.game-card img {
    width: 50%;
    border-radius: 8px;
}
.game-card:hover{
    cursor:pointer;
    background: lightblue;
}

.carousel-btn {
    background: grey;
    color:white;
    z-index: 5;
    border:none;
    border-radius: 0px;
    padding: 0.5rem;
    border-radius: 50%;
    position: relative;
}
.carousel-btn:hover {
    background: lightgray;
}

.prev {
    left: 5px;
}
.next {
    right: 5px;
}