body{
    background-color: #3B543E;
;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 90px;
    margin-left: 50px;
}

h1 {
    font-size: 32pt;
    font-family:'Comic Sans MS', Arial, sans-serif;
    font-style: italic;
    color: #DCAF47;
    margin-top: 5%;
    margin-bottom: 3%;
}
h2 {
    font-size: 24pt;
    font-family:'Comic Sans MS', Arial, sans-serif;
    color: #DCAF47;
}
h3 {
    font-size: 18pt;
    font-family:Tahoma, Geneva;
    font-weight: 500;
    color: #DCAF47;
}
p {
    font-family: Tahoma, Geneva;
    color: #67D970;
}

a:link {
    font-family: Tahoma, Geneva;
    color: #E7FF47;
    font-weight: bolder;
    text-decoration: none;
}
a:visited {
    color: #4A994C;
}
a:hover {
    color: #DCAF47;
}

.my-button {
    background-color: #a8cfa9;
    color: #3B543E;

    padding: 15px 32px;
    border: none;      
    display: inline-block;

    margin-bottom: 20pt;
    margin-right: -5pt;

    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Tahoma, Geneva;
}
.my-button:hover {
    background-color: #DCAF47;
}